.App {
  text-align: center;
}

body {
  background-color: #282c34;
}

.Banner {
  height: 3cm;
  width: 100vw;
  background-color: #61dafb;
  text-align: center;
  font-variant: small-caps;
  font-family: fantasy;
  font-size: 64pt;
  color: #282c34;
}

.PickerContainer {
  height: auto;
  width: auto;
  position: fixed;
  z-index: 1;
  padding: 1cm;
  margin-top: 20vh;
}

.Canvas {
  margin: auto;
  padding: 0.25em;
  background-color: black;
  height: 60em;
  width: 60em;
  margin-top: 5em;
  margin-bottom: 5em;
  line-height: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
