.App {
  text-align: center;
}

body {
  background-color: #282c34;
}

.Banner {
  height: 1.5em;
  width: 100vw;
  padding-top: 0.5em;
  background-color: #61dafb;
  text-align: center;
  font-variant: small-caps;
  font-family: "Press Start 2P", cursive;
  font-size: 50pt;
  color: #282c34;
}

.PickerContainer {
  height: auto;
  width: auto;
  position: fixed;
  z-index: 1;
  padding: 1cm;
  margin-top: 20vh;
}

.Canvas {
  margin: auto;
  padding: 0.25em;
  background-color: black;
  height: 60em;
  width: 60em;
  margin-top: 5em;
  margin-bottom: 5em;
  line-height: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.MyBox {
  height: 2em;
  width: 2em;
  background-color: white;
  cursor: pointer;
}
